
.d-block{
    display: $d-block;
}
.d-none{
    display: $d-none;
}

.d-inline-flex{
    display: inline-flex
}
.d-inline-block{
    display: $d-inline-block;
}
.d-flex{
    display: $d-flex;
}


@include mobile{
    .d-sm-block{
        display: $d-block;
    }
    .d-sm-none{
        display: $d-none;
    }
    .d-sm-flex{
        display: flex;
    }

}


.vertical-top{
    vertical-align: top;
}
.overflow-hidden{
    overflow: hidden;
}



.position-r{
    position: relative;
}
.position-a{
    position: absolute;
}
.position-center{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}



.m0-auto{
    margin: 0 auto;
}




.flex-wrap{
    flex-wrap: wrap
}
.flex-center{
    @include flex-center;
}
.flex-bettween{
    @include flex-bettween;
}
.flex-column{
    @include flex-column;
}
.flex-start{
    @include flex-start;
}

@include mobile{
    .nowrap-sm{
        flex-wrap: nowrap;
    }
    .d-sm-flex-column{
        flex-direction: column;
    }
}



.text-center{
    text-align: $text-center;
}
.text-right{
    text-align: right;
}
@include mobile{
    .text-sm-left{
        text-align: left;
    }
}


.fw-s{
    font-weight: $fw-s;
}
.fw-m{
    font-weight: $fw-m;
}
.fw-l{
    font-weight: $fw-l;
}



.line-height-s{
    line-height: $line-height-s;
}
.line-height-base{
    line-height: $line-height-base;
}





@each $name, $size in $spacers {
    .g-#{$name} {gap: $size};
    .g-row-#{$name} {row-gap: $size};
    .g-col-#{$name} {column-gap: $size};
}

@each $name, $size in $fz {
    .fz-#{$name} {
        font-size: $size;
    }
}

@each $key, $value in $spacers {
    .m-#{$key}  { margin: $value; }
    .mt-#{$key} { margin-top: $value; }
    .mb-#{$key} { margin-bottom: $value; }
    .ml-#{$key} { margin-left: $value; }
    .mr-#{$key} { margin-right: $value; }
    .my-#{$key} { margin-top: $value ; margin-bottom: $value; }
    .mx-#{$key} { margin-right: $value; margin-left: $value;}

    .p-#{$key}  { padding: $value; }
    .pt-#{$key} { padding-top: $value; }
    .pb-#{$key} { padding-bottom: $value; }
    .pl-#{$key} { padding-left: $value; }
    .pr-#{$key} { padding-right: $value; }
    .py-#{$key} { padding-top: $value; padding-bottom: $value; }
    .px-#{$key} { padding-right:$value; padding-left: $value; }
}


@include mobile{
    @each $name, $size in $fz {
        .fz-sm-#{$name} {
            font-size: $size;
        }
    }   
    @each $key, $value in $spacers {
        .m-sm-#{$key}  { margin: $value; }
        .mt-sm-#{$key} { margin-top: $value; }
        .mb-sm-#{$key} { margin-bottom: $value; }
        .ml-sm-#{$key} { margin-left: $value; }
        .mr-sm-#{$key} { margin-right: $value; }
        .my-sm-#{$key} { margin-top: $value; margin-bottom: $value; }
        .mx-sm-#{$key} { margin-right:$value ; margin-left: $value;}

        .p-sm-#{$key}  { padding: $value; }
        .pt-sm-#{$key} { padding-top: $value; }
        .pb-sm-#{$key} { padding-bottom: $value; }
        .pl-sm-#{$key} { padding-left: $value; }
        .pr-sm-#{$key} { padding-right: $value; }
        .py-sm-#{$key} { padding-top: $value; padding-bottom: $value;}
        .px-sm-#{$key} { padding-right:$value ; padding-left: $value;}
    }
    @each $name, $size in $spacers {
        .g-sm-#{$name} {gap: $size};
        .g-sm-row-#{$name} {row-gap: $size};
        .g-sm-col-#{$name} {column-gap: $size};
    }
}



.bg-primary-100{
    background: $primary-100;
}
.bg-primary-200{
    background: $primary-200;
}
.bg-primary-300{
    background: $primary-300;
}
.bg-neutral-100{
    background: $neutral-100;
}

.bg-neutral-300{
    background: $neutral-300;
}
.bg-neutral-700{
    background: $neutral-700;
}

.text-color-p-300{
    color: $primary-300;
}
.text-color-p-400{
    color: $primary-400;
}

.text-color-n-0{
    color: $neutral-0;
}
.text-color-n-300{
    color: $neutral-300;
}
.text-color-n-500{
    color: $neutral-500;
}
.text-color-n-600{
    color: $neutral-600;
}
.text-color-n-900{
    color: $neutral-900;
}



.link-hover-300:hover{
    color: $primary-300;
}

.link-hover-500:hover{
    color: $primary-500;
}

.link-hover-n600:hover{
    color: $neutral-600;
}

.link-hover-bg-n100:hover{
    background: $neutral-100;
    transition: all 0.3s ease;
}
.link-hover-bg-300:hover{
    background: $primary-300;
    transition: all 0.3s ease;
}
.link-hover-bg-n300:hover{
    transition: all 0.3s ease;
    background: $neutral-300;
}
.link-hover-bg-n900:hover{
    transition: all 0.3s ease;
    background: $neutral-900;
    color:#ffffff;
}


.hover-card:hover{
    opacity: 0.7;
    transition: all 0.3s ease;
}

.img-dark{
    filter: brightness(60%);
}

.border-bottom-s{
    border-bottom: 1px solid $neutral-300;
}
.border-neutral-400{
    border: 1px solid $neutral-400;
}
.border-radius-xs{
    border-radius: 4px;
}

.disc{
    list-style-type: disc;
    list-style-position: inside;
}

.text-underline{
    text-decoration:underline;
    text-underline-offset: 4px;
}


@include mobile{
    .d-sm-contents {
        display: contents;
    }
    .overflow-sm-auto {
        overflow-x: auto;
    }
    .list-x-container {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .list-x-item {
        flex: 0 0 auto;
        width: 312px; 
    }
}









