

<footer class="footer py-10 py-sm-6 bg-neutral-100">
    <div class="container m0-auto">
        <div class="flex-bettween mb-5 d-sm-flex-column">
            <a href="index.html"><img src="/assets/images/logo.svg" alt=""></a>
            <ul class="d-flex d-sm-flex-column">
                <li class="ml-7 ml-sm-3 py-3 mb-sm-1"><a class="link-hover-n600 fw-s" href="product-list.html">商品列表</a></li>
                <li class="ml-7 ml-sm-3 py-3"><a  class="link-hover-n600 fw-s" href="about.html">品牌故事</a></li>
            </ul>
        </div>
        <div class="text-center pt-6 border-top-base fz-2 neutral-600 ">
            <p class="mb-1">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
        
    </div>
</footer>