<header class="header m0-auto">
    <div class=" flex-bettween py-4 py-sm-2 container">
        <ul class=" flex-center">
            <li class="mr-8 pt-1"><a href="pages/index.html"><img src="../assets/images/logo.svg" alt="logo"></a></li>
            <li class="mr-7 d-sm-none"><a class="link-hover fw-s" href="pages/product-list.html">商品列表</a></li>
            <li class="mr-7 d-sm-none"><a class="link-hover fw-s" href="pages/about.html">品牌故事</a></li>
        </ul>
        <a class="text-hover fw-s fz-4 pt-1" href="../pages/login.html"><i class="bi bi-person"></i></a>
    </div>
</header>

