<div class="mobile d-none d-sm-block">
    <ul class="flex-center">
        <li class="w-50 text-center "><a class="bg-primary-200 d-block fw-s py-3 line-height-base" href="/pages/product-list.html">商品列表</a></li>
        <li class="w-50 text-center"><a class="bg-primary-100 d-block fw-s py-3 line-height-base" href="/pages/about.html">品牌故事</a></li>
    </ul>
</div>