
<div class="grid-image d-flex  g-col-2 overflow-sm-auto g-sm-col-4">
    <div class="flex-column w-66 g-row-2 d-sm-contents">

        <div class="d-flex g-col-2 flex-grow-1 d-sm-contents ">
            <img src="../assets/images/inspiration-1.png" alt="">
            <img src="../assets/images/inspiration-2.png" alt="">
            <img src="../assets/images/inspiration-4.png" alt="">
            <img src="../assets/images/inspiration-5.png" alt="">
        </div>

        <div class="d-flex g-col-2  d-sm-contents ">
            <img class="w-50" src="../assets/images/inspiration-3.png" alt="">
            <div class="d-flex w-50 g-col-2  d-sm-contents ">
                <div class="w-50 d-flex flex-wrap g-row-2   d-sm-contents ">
                    <img  src="../assets/images/inspiration-6.png" alt="">
                    <img  src="../assets/images/inspiration-7.png" alt="">
                </div>
                <div class="w-50 d-flex flex-wrap g-row-2  d-sm-contents ">
                    <img  src="../assets/images/inspiration-8.png" alt="">
                    <img  src="../assets/images/inspiration-9.png" alt="">
                </div>
            </div>
        </div>

    </div>

    <div class="w-33 flex-column g-row-2  d-sm-contents ">
        <img src="../assets/images/inspiration-10.png" alt="">

        <div class="d-flex g-col-2  d-sm-contents ">
            <img src="../assets/images/inspiration-11.png" alt="">
            <img src="../assets/images/inspiration-12.png" alt="">
        </div>
    </div>
        
</div>
