.login-bg{
    background-image: url(/assets/images/login-bg.png);
}


.col-7.login-bg {
    padding-left: 80px;
    padding-right: 80px;
}

@include mobile{
    .col-7.login-bg {
        padding-left: 24px;
        padding-right: 24px;
    }
    .login-bg{
        background-image: none;
    }
}

.login-btn{
    border-bottom: 2px solid $neutral-900;
}

.tab-btn {
    background: none;
    border: none;
    color: $neutral-600;
    font-size: 20px;
    border-bottom: 2px solid $neutral-300;
    transition: 0.3s;
    cursor: pointer;
}

.tab-btn.active {
    color: $neutral-900;
    border-bottom: 2px solid $neutral-900;
}





