.detail-w{
    width: 64px;    
}

.red{
    color: #d74f4f;
}

.edge{
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
}
.edge-right{
    width: calc(100% + 12px);
    margin-right: -12px;
}


