<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <nav class="mb-5">
        <a href="./index.html" class="text-color-n-600 link-hover ">首頁</a>
        <span class="text-color-n-300 px-3 ">/</span>
        <a href="#" class="text-color-n-600 link-hover">女鞋</a>
        <span class="text-color-n-300 px-3 ">/</span>
        <a href="#" class="fw-s link-hover">所有商品</a>
      </nav>

      <h2 class="mb-5 fz-5 fw-s">女鞋</h2>

      <div class="row">
        <div class="col-2 d-sm-none">
          <ul >
            <li><a class="fw-s text-color-p-400 py-2 mb-2" href="#">所有商品</a></li>
            <li><a class="fw-s py-2 mb-2 link-hover" href="#">慢跑鞋</a></li>
            <li><a class="fw-s py-2 mb-2 link-hover" href="#">滑板鞋</a></li>
            <li><a class="fw-s py-2 mb-2 link-hover" href="#">厚底鞋</a></li>
            <li><a class="fw-s py-2 mb-2 link-hover" href="#">限定 / 聯名企劃</a></li>
          </ul>
        </div>
        <div class="col-10 col-sm-12">
          <ul class="row mb-8 mb-sm-4">
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product.png" alt="">
                    <h4 class="fw-m">PLATFORM 404</h4>
                    <p>NT$2,600</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-1.png" alt="">
                    <h4 class="fw-m">PLATFORM 404</h4>
                    <p>NT$2,600</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-2.png" alt="">
                    <h4 class="fw-m">VM001</h4>
                    <p>NT$2,600</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-3.png" alt="">
                    <h4 class="fw-m">Melty Kiss</h4>
                    <p>NT$4,000</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-4.png" alt="">
                    <h4 class="fw-m">BOOMBLOK</h4>
                    <p>NT$3,200</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-5.png" alt="">
                    <h4 class="fw-m">BOOMBLOK</h4>
                    <p>NT$3,200</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-6.png" alt="">
                    <h4 class="fw-m">R:UNER</h4>
                    <p>NT$4,000</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-7.png" alt="">
                    <h4 class="fw-m">Sugar Snap</h4>
                    <p>NT$4,000</p>
                </a>
            </li>
            <li class="col-4 col-sm-6 mb-8 mb-sm-5">
                <a href="./product-detail.html" class="hover-card">
                    <img class="mb-3" src="../assets/images/product-8.png" alt="">
                    <h4 class="fw-m">Neofoam</h4>
                    <p>NT$4,000</p>
                </a>
            </li>
          </ul>

          <ul class="flex-center mb-6 ">
            <li class="px-4 py-2 link-hover-bg-300"><a href="#"><i class="bi bi-chevron-left"></i></a></li>
            <li class="px-4 py-2 fw-s bg-primary-300"><a href="">1</a></li>
            <li class="px-4 py-2 link-hover-bg-300"><a href="#">2</a></li>
            <li class="px-4 py-2 link-hover-bg-300"><a href="#">3</a></li>
            <li class="px-4 py-2 link-hover-bg-300"><a href="#">...</a></li>
            <li class="px-4 py-2 link-hover-bg-300"><a href="#">10</a></li>
            <li class="px-4 py-2 link-hover-bg-300"><a href="#"><i class="bi bi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>




  <%- include('./layout/cta-section'); -%>
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
