<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="container">
        <div class="row py-10 py-sm-5">
            <div class="col-6 col-sm-12 m0-auto">
                <div class="flex-center g-4 mb-6 g-sm-2">
                    <img class="w-sm-32" src="../assets/images/check.svg" alt="">
                    <h2 class="text-center fw-m fz-5 fz-sm-4">我的收藏</h2>
                </div>

                <div class="bg-primary-100 p-4 text-color-p-400 fw-s mb-6 d-sm-flex">
                    <i class="bi bi-truck mr-3 d-inline-block  d-sm-block fz-sm-4 pt-sm-1"></i>
                    <p class="d-inline-block"><span class="d-sm-block">門市營業時間：</span>週一至週五 10:00 - 22:00</p>
                </div>

                <ul>
                    <li class="pb-6 mb-6 border-bottom-s">
                        <a href="./product-detail.html" class="d-flex g-4">
                            <img class="w-120px" src="../assets/images/image.png" alt="">
                            <ul class="w-100">
                                <li class="fw-m fz-3">PLATFORM 404</li>
                                <li class="text-color-n-600">尺寸<span class="ml-3 fw-s text-color-n-900">38</span></li>
                                <li class="text-color-n-600">顏色<span class=" fw-s ml-3 text-color-n-900">Navy</span></li>
                                <li class="fw-m text-right text-sm-left">NT$2,600</li>
                            </ul>
                        </a>
                    </li>
                    <li class="pb-6 mb-6  border-bottom-s">
                        <a href="./product-detail.html" class="d-flex g-4 ">
                            <img class="w-120px" src="../assets/images/product-4.png" alt="">
                            <ul class="w-100">
                                <li class="fw-m fz-3">BOOMLOK</li>
                                <li class="text-color-n-600">尺寸<span class="ml-3 fw-s text-color-n-900">38</span></li>
                                <li class="text-color-n-600">顏色<span class=" fw-s ml-3 text-color-n-900">White</span></li>
                                <li class="fw-m text-right text-sm-left">NT$3,200</li>
                            </ul>
                        </a>
                    </li>
                    <li class="pb-6 mb-6  border-bottom-s">
                        <a href="./product-detail.html" class="d-flex g-4 ">
                            <img class="w-120px" src="../assets/images/product-3.png" alt="">
                            <ul class="w-100">
                                <li class="fw-m fz-3">MELTY KISS</li>
                                <li class="text-color-n-600">尺寸<span class="ml-3 fw-s text-color-n-900">38</span></li>
                                <li class="text-color-n-600">顏色<span class=" fw-s ml-3 text-color-n-900">Violet</span></li>
                                <li class="fw-m text-right text-sm-left">NT$4,000</li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <div class="text-center">
                    <a  class="btn btn-neutral-900 " href="#">立即預約門市試穿</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>